// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/css3/box";
@import "size";
@import "type";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : true;
$show-grid: false;

$default-box-orient			: vertical;
$default-box-pack			: start;
$default-box-align			: stretch;
$default-box-ordinal-group	: 1;

$first-break: 33em;

// Mixin from vertical-rhythm - sets base font size and line height on 'html; element
@include establish-baseline;


// =============================================================================
// 'Normalize' - Variables and Imports
//
// =============================================================================

// The base font size.
//$base-font-size: 16px is set in _type.scss

// The base line height determines the basic unit of vertical rhythm.
// $base-line-height: 24px; // Overrides default set in Vertical Rhythm partial. Is set in _type.scss

// The font sizes for h1-h6. You should set these variables in your base partial.
// These are dealt with directly in _normalize.scss
//$h1-font-size: 2    * $base-font-size !default;
//$h2-font-size: 1.5  * $base-font-size !default;
//$h3-font-size: 1.17 * $base-font-size !default;
//$h4-font-size: 1    * $base-font-size !default;
//$h5-font-size: 0.83 * $base-font-size !default;
//$h6-font-size: 0.75 * $base-font-size !default;

// Setting this to false will result in smaller output, but no support for ie6 hacks.
$legacy-support-for-ie6: false; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: false; // Overrides default set in Support partial.

// The default font family. You should set $base-font-family in your base partial.
$base-font-family: sans-serif !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// After the default variables are set, import the required Compass partials.
@import "normalize";
@import "compass/support"; // Cross browser support config
@import "compass/css3/box-sizing";
@import "compass/typography/vertical_rhythm";// http://typecast.com/blog/4-simple-steps-to-vertical-rhythm




