// ---------------------------------------------------------------------------
// Imports

@import "compass/css3/box";
@import "size";
@import "type";

@import "compass/typography/vertical_rhythm";// http://typecast.com/blog/4-simple-steps-to-vertical-rhythm

// Mixin from vertical-rhythm - sets base font size and line height on 'html; element
@include establish-baseline;


// =============================================================================
// 'Normalize' - Variables and Imports
//
// =============================================================================

// The base font size is set in _type.scss

// The base line height (base unit for vertical rhythm is set in _type.scss

// The font sizes for h1-h6 are dealt with directly in _normalize.scss.

// Setting this to false will result in smaller output, but no support for ie6 hacks.
$legacy-support-for-ie6: false; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: false; // Overrides default set in Support partial.

// The default font family. You should set $base-font-family in your base partial.
$base-font-family: sans-serif !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// After the default variables are set, import the required Compass partials.
@import "layout";
@import "compass/css3/box-sizing";
@import "normalize";
@import "compass/support"; // Cross browser support config
