// ---------------------------------------------------------------------------
// Imports

@import "_base/base";

@mixin clear-flexbox {
	display: block;
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
}

/* -------------------------------------------------------------------------*/
/* Layout */

h1 {
	text-align: center;
	@include adjust-font-size-to($largepx);

	@include at-breakpoint($first-break 7) {
		// Bigger font size once we break out of mobile
		@include adjust-font-size-to($xlargepx);
	}
}

#page { 
	@include container;

	// Use CSS3 flex-box module for 'mobile first' default
	// Support is wide spread amongst mobile browsers
	@include display-box;
	@include box-orient($default-box-orient);
	@include box-pack($default-box-pack);
	@include box-align($default-box-align);

	span {
		background: #C0C0C0;
		color:white;
		padding: rhythm(0.25) rhythm(0.5);
		position: absolute;
	}

	.main, header, aside, footer, nav, .example_ad {
		color: #3371AA;
		text-align: center;
		@include box-ordinal-group(1);
		@include rhythm(1);

		p {
			text-align: left;
		}
	}

	.example_ad {
		// The order of this element is different for our 'mobile first' default
		@include box-ordinal-group(4);
	}

    nav {
    	// The order of this element is different for our 'mobile first' default
    	@include box-ordinal-group(2);
    }

    footer {
    	@include box-ordinal-group(3);
    }

    // Break out of 'mobile' and increase our grid size, etc
    @include at-breakpoint($first-break 7) {
    	$container-width: $first-break - (2 * rhythm(1, $normpx));
        @include set-container-width;

        // Get rid of CSS3 flex-box once we break out of mobile.
        // Support amongst desktop browsers is not so good
        @include clear-flexbox;
    }

    @include at-breakpoint($second-break 12) {
    	$container-width: 100%;
        @include set-container-width;
        
        @if $show-grid {
            @include susy-grid-background;
        }

        // Get rid of CSS3 flex-box once we break out of mobile.
        // Support amongst desktop browsers is not so good
        @include clear-flexbox;

    	header { 
    		@include prefix(2);
    		@include span-columns(7, 12);
    	}

    	nav {
    		clear: both;
    		@include span-columns(2);
    	}

    	.main {
    		@include span-columns(7, 12);
    	}

    	footer, .example_ad {
    		clear: both;
    		@include prefix(2);
    		@include span-columns(7, 12);
    	}

    	aside {
    		@include span-columns(3 omega, 12);
    	}

    }
}